{% extends 'base.html' %} 

{%block navbar-btn %}
<a class="btn btn-sm btn-outline-primary mx-2" href="/register_user">Sign up</a>
<a class="btn btn-sm btn-outline-dark mx-2" href="/login">Login</a>
{%endblock navbar-btn%}
<body>
    <h1>The big ornage</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis accusamus nam dolores tempore itaque nobis non
        facilis explicabo distinctio, soluta repudiandae assumenda neque, sapiente saepe temporibus, modi quod fugiat
        consequatur.</p>
</body>
