{%extends 'base.html'%}

{%block style%}
<style>
    @font-face {
        font-family: Times New Romania;
        src: url(Poppins-Medium.ttf) format("truetype");
    }

    input[type=text],
    input[type=password] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 100px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }

    div {
        background-color: whitesmoke;
        margin: auto;
        width: 50%;
        /* border: 3px solid silver; */
        padding: 10px;
        text-align: center;
    }

    #button {
        display: inline-block;
        border-radius: 14px;
        background-color: orange;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        font-family: Segoe Print;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 15px;

    }

    #button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    #button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    #button:hover span {
        padding-right: 25px;
    }

    #button:hover span:after {
        opacity: 1;
        right: 0;
    }
</style> {%endblock style%}


{%block body%} 
<form action="/login" method="post">
    {% csrf_token %}
    {% comment %} <label for="username">username</label>
    <input type="text" name="username" id="username">
    <label for="password">password</label>
    <input type="text" name="password" id="password">
    <button>submit</button> {% endcomment %}

    
  <div class="container">
    <h1>Log In To The BigOrange</h1>
    <br>
    <br>
    <div class="box">
      <i class="fa fa-envelope"></i>
      <input type="text" name="username" placeholder="Enter Your Username">
    </div>
    <br>
    <br>


    <div class="box">
      <i class="fa fa-key"></i>
      <input type="password" name="password" placeholder="Enter Your Password" style="width: 100%;" id="myInput"
        height="100px">

    </div>
    <br>
    <br>
    <button id="button" style="right: 200px"> <span> Sign In </span></button>



    <div id="checklist">
      <input id="01" type="checkbox" onclick="myFunction()" name="r" value="1" checked>
      <label for="01">Show Password</label>

    </div>
  </div>

</form>

{%endblock body%}


